
<div ng-include="'components/navbar/navbar.html'"></div>

    <div class="container">

     <div class="music">

<div class="date">2017 - 2018</div>
        
          <div class="hr"><hr /></div>   

          <!-- <h4> <a href="http://www.sonology.org"> Sonology </a></h4>        -->
     
      <div class="row">
          <div class="col-lg-4">
            <h5>Composing with Algorithms </h5>
            <p><img onload="this.style.opacity='1.0';" src="assets/images/cwa.png" alt="" class="img-responsive"></p>
            <p><a class="btn btn-default" ng-click="displayCwa()">Access Course</a></p>
          </div>
    
          <div class="col-lg-4">
            <h5>Programming and Music 1</h5>
            <p><img onload="this.style.opacity='1.0';" src="assets/images/pma.png" alt="" class="img-responsive"></p>
            <p><a class="btn btn-default" ng-click="displayPma()">Access Course</a></p>
        </div>
   <div class="col-lg-4">
            <h5>Programming and Music 2</h5>
            <p><img onload="this.style.opacity='1.0';" src="assets/images/pmb.png" alt="" class="img-responsive"></p>
            <p><a class="btn btn-default"ng-click="displayPmb()">Access Course</a></p>
          </div>
    </div>
         

       

</div> <!-- /container -->